* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background-color:#080120;
    background-image: url(assets/background-redlight.jpg);
}
.page-title {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px rgb(62, 206, 241),
    0 0 42px rgb(62, 206, 241),
    0 0 82px rgb(62, 206, 241),
    0 0 92px rgb(62, 206, 241),
    0 0 102px rgb(62, 206, 241);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 6em;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {  
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px #f50606,
    0 0 82px #f50606;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 180px;
    width: 130px;

}

.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0deg);
}

.overlay-text {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px #f50606,
    0 0 82px #f50606;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(2, 2, 50, 0.515);
        font-size: 0;
    }
    to {
        background-color: #1c046c7b;
        font-size: 8em;
    }
}
.card-back {
    border-color: #f50606;
    background-color: #fff;
}

.card-front {
    transform: rotateX(180deg);
    border-color: #f50606;
    background-color: #fff;
}

.card-word {
    transform: scale(1.1);
}

.card-front:hover .card-word {
    transform: scale(1);
}


.red-light {
    position: absolute;
    width: 128px;
    height: 178px;  
}

.card-back:hover .red-light {
    transform: scale(1.2);
}

@media (max-width:600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}
